{% trans_default_domain 'admin' %}

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li><a href="{{ path('xeng.admin.account') }}">
                            <i class="fa fa-link"></i>
                            <span>{{ 'xeng.admin.menu.account' | trans }}</span>
                        </a>
                    </li>
                    {% if is_granted('p[x_core.user.list]') %}
                    <li><a href="{{ path('xeng.admin.users') }}">
                            <i class="fa fa-users"></i>
                            <span>{{ 'xeng.admin.menu.user' | trans }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('p[x_core.role.list]') %}
                    <li><a href="{{ path('xeng.admin.roles') }}">
                            <i class="fa fa-link"></i>
                            <span>{{ 'xeng.admin.menu.role' | trans }}</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('p[x_core.category.list]') %}
                        <li><a href="{{ path('xeng.admin.categories') }}">
                                <i class="fa fa-link"></i>
                                <span>{{ 'xeng.admin.menu.category' | trans }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li><a href="{{ path('xeng.admin.content.article.list') }}">
                            <i class="fa fa-link"></i>
                            <span>{{ 'xeng.admin.menu.content.article' | trans }}</span>
                        </a>
                    </li>
                </ul>

            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
