{% extends 'admin/content/article/articleEdit.html.twig' %}
{% trans_default_domain 'admin' %}
{% set currentTab = 'general' %}

{% block tabcontent %}
    <div class="tab-pane active">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flash_message }}</div>
        {% endfor %}
        {% if not validationResponse.isValid %}
            {% for error_message in validationResponse.getErrors() %}
                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endfor %}
        {% endif %}
        <div class="box-body">
            <form role="form" method="post" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="{{ validationResponse.getStringValue('_token') }}">
                <input type="hidden" name="submit" value="submit">
                    <div class="form-group {{ validationResponse.hasError('status')?'has-error':'' }}">
                        <label for="status">Status</label>
                        <select id="status" name="status" class="form-control">
                            <option value="0" {{ validationResponse.getValue('status')==0?'selected':''}}>Draft</option>
                            <option value="1" {{ validationResponse.getValue('status')==1?'selected':''}}>Pending Approval</option>
                            <option value="2" {{ validationResponse.getValue('status')==2?'selected':''}}>Published</option>
                        </select>
                    </div>
                    <div class="form-group {{ validationResponse.hasError('title')?'has-error':'' }}">
                        <label for="title">Title</label>
                        <input id="title" name="title" type="text" class="form-control"
                               value="{{ validationResponse.getStringValue('title') }}">
                    </div>
                    <div class="form-group {{ validationResponse.hasError('summary')?'has-error':'' }}">
                        <label for="summary">Summary</label>
                        <textarea id="summary" name="summary" class="form-control"
                                  rows="3">{{ validationResponse.getStringValue('summary') }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="image">Primary Image</label>
                        <input id="image" name="image" type="file" class="form-control">
                    </div>
                    <div class="form-group {{ validationResponse.hasError('body')?'has-error':'' }}">
                        <label for="body">Content</label>
                        <textarea id="body" name="body"
                                  class="form-control">{{ validationResponse.getStringValue('body') }}</textarea>
                    </div>
                <!-- /.box-body -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <table class="table-responsive table-bordered table" >
                <tr>
                    <th>Image</th>
                    <th>Path</th>
                </tr>
                {% for image in images %}
                    <tr>
                        <td>
                            <img src="/media/content/images/{{image.path}}" class="img img-responsive" style="max-height: 50px">
                        </td>
                        <td>
                            <input value="/media/content/images/{{ image.path }}" style="width: 100%">
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <!-- CKEditor -->
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        $( document ).ready(function() {
            CKEDITOR.replace( 'body' );
        });
    </script>
{% endblock %}




