{% extends 'admin/content/article/articleEdit.html.twig' %}
{% trans_default_domain 'admin' %}
{% set currentTab = 'category' %}

{% block tabcontent %}
    <div class="tab-pane active">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flash_message }}</div>
        {% endfor %}
        {% if not validationResponse.isValid %}
            {% for error_message in validationResponse.getErrors() %}
                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endfor %}
        {% endif %}
        <form role="form" method="post">
            <input type="hidden" name="_token" value="{{ validationResponse.getStringValue('_token') }}">
            <input type="hidden" name="submit" value="submit">
            <div class="box-body">
                <ul>
                    {% for category in categories %}
                        {% set isEmpty = validationResponse.isEmpty('category_' ~ category.id) %}
                        <li>
                            <span class="{{ isEmpty?'':'text-bold' }}">
                                <input type="checkbox" name="category_{{ category.id }}" {{ isEmpty?'':'checked'}}>
                                {{category.label}}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Categories</button>
            </div>
        </form>

    </div>

{% endblock %}




