{% extends 'admin/content/article/articleEdit.html.twig' %}
{% trans_default_domain 'admin' %}
{% set currentTab = 'images' %}

{% block tabcontent %}
    <div class="tab-pane active">

        <div class="box box-default">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success" role="alert">{{ flash_message }}</div>
            {% endfor %}
            {% if not validationResponse.isValid %}
                {% for error_message in validationResponse.getErrors() %}
                    <div class="alert alert-danger" role="alert">{{ error_message }}</div>
                {% endfor %}
            {% endif %}
            <div class="box-body">
                <form role="form" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="_token" value="{{ validationResponse.getStringValue('_token') }}">
                    <input type="hidden" name="submit" value="submit">
                    <div class="form-group">
                        <label for="image">Upload Image</label>
                        <input id="image" name="image" type="file" class="form-control">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>

            {% for image in images %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="height: 300px">
                    <input value="/media/content/images/{{ image.path }}" style="width: 100%">
                    <img src="/media/content/images/{{image.path}}" class="img img-responsive" style="margin: auto;max-height: 200px">

                    <div class="text-center" style="position:absolute; bottom: 0; width:100%">
                        {% if article.image == null or article.image.id != image.id %}
                            <a href="{{ path('xeng.admin.content.article.edit.images.default',{'nodeId': article.id,'imageId':image.id }) }}"
                               class="btn btn-sm btn-primary">Make Primary</a>
                        {% endif %}
                        <a href="{{ path('xeng.admin.content.article.edit.images.delete',{'nodeId': article.id,'imageId':image.id }) }}"
                           class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}




