{% trans_default_domain 'admin' %}
<!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{{ 'x.site.name.short' | trans | raw }}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{{ 'x.site.name.long' | trans | raw}}</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-brand">{{ page_title | default('Xeng Cms Admin')}}</div>

            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        {% if app.user.hasProfile() and app.user.profile.hasImage() %}
                            {% set profileImagePath = '/media/profile/images/' ~ app.user.profile.image.path %}
                        {% else %}
                            {% set profileImagePath = '/admin/dist/img/noprofile.jpg' %}
                        {% endif %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="{{profileImagePath}}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{ app.user.name }}</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="{{profileImagePath}}" class="img-circle" alt="User Image">
                                <br>
                                <br>
                                <span style="color: white">{{ app.user.fullName }}</span>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>



