<div class="tdc-row">
    <div class="vc_row  wpb_row td-pb-row">
        <div class="vc_column  wpb_column vc_column_container td-pb-span12">
            <div class="wpb_wrapper">
                <div class="td_block_wrap td_block_big_grid_2 td-grid-style-1 td-hover-1 td-big-grids td-pb-border-top td_block_template_1">
                    <div class="td_block_inner">
                        <div class="td-big-grid-wrapper td-posts-3">
                            {% for article in evidenced %}
                            <div class="td_module_mx5 td-animation-stack td-big-grid-post td-mx-15">
                                <div class="td-module-image">
                                    <div class="td-module-thumb">
                                        <a href="{{ path('article',{'slug':article.slug}) }}"
                                            rel="bookmark" title="{{ article.title }}">
                                            <img width="485" height="360"
                                                class="entry-thumb td-animation-stack-type0-2"
                                                src="/media/content/images/{{ article.image.path }}"
                                                title="{{ article.title }}">
                                        </a>
                                    </div>
                                </div>
                                <div class="td-meta-info-container">
                                    <div class="td-meta-align">
                                        <div class="td-big-grid-meta">
                                            <h3 class="entry-title td-module-title">
                                                <a href="{{ path('article',{'slug':article.slug}) }}"
                                                   rel="bookmark" title="{{ article.title }}">
                                                    {{ article.title }}
                                                </a>
                                            </h3>
                                        </div>
                                        <div class="td-module-meta-info">
                                            <span class="td-post-date">
                                                <time class="entry-date updated td-module-date"
                                                      datetime="{{ article.publishedAt | date}}">{{ article.publishedAt | date}}</time>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

