{% extends '@XengCmsAdmin/admin/role/editRole.html.twig' %}
{% trans_default_domain 'admin' %}
{% set currentTab = 'permissions' %}

{% macro renderModulePermissions(vr,module) %}
    <h4>{{ module.name }}</h4>

    {% if module.children.count > 0 %}
        <ul>
            {% for child in module.children %}
                <li>{{ _self.recursivePermission(vr,module,child) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% macro recursivePermission(vr,module,permission) %}
    {% set isEmpty = vr.isEmpty(module.id ~ '%' ~ permission.fullIdEncoded) %}
    <span class="{{ isEmpty?'':'text-bold' }}">
        {% if not permission.abstract %}
            <input type="checkbox" name="{{ module.id }}%{{ permission.fullIdEncoded }}"
                    {{ isEmpty?'':'checked'}}>
        {% endif %}
        {{permission.name}}
    </span>
    {% if permission.children.count > 0 %}
        <ul>
            {% for child in permission.children %}
                <li>{{ _self.recursivePermission(vr,module,child) }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block tabcontent %}
    <div class="tab-pane active">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flash_message }}</div>
        {% endfor %}
        {% if not validationResponse.isValid %}
            {% for error_message in validationResponse.getErrors() %}
                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endfor %}
        {% endif %}
        <form role="form" method="post">
            <input type="hidden" name="_token" value="{{ validationResponse.getStringValue('_token') }}">
            <input type="hidden" name="submit" value="submit">
            <div class="box-body">
                <ul>
                {% for module in permissionModules %}
                    <li>{{ _self.renderModulePermissions(validationResponse,module) }}</li>
                {% endfor %}
                </ul>
            </div>
            <!-- /.box-body -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save Permissions</button>
            </div>
        </form>

    </div>

{% endblock %}




