{% extends '@XengCmsAdmin/admin/role/editRole.html.twig' %}
{% trans_default_domain 'admin' %}
{% set currentTab = 'general' %}

{% block tabcontent %}
    <div class="tab-pane active">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success" role="alert">{{ flash_message }}</div>
        {% endfor %}
        {% if not validationResponse.isValid %}
            {% for error_message in validationResponse.getErrors() %}
                <div class="alert alert-danger" role="alert">{{ error_message }}</div>
            {% endfor %}
        {% endif %}
        <form role="form" method="post">
            <input type="hidden" name="_token" value="{{ validationResponse.getStringValue('_token') }}">
            <input type="hidden" name="submit" value="submit">
            <div class="box-body">
                <div class="form-group {{ validationResponse.hasError('name')?'has-error':'' }}">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="form-control"
                           value="{{ validationResponse.getStringValue('name') }}">
                </div>
                <div class="form-group {{ validationResponse.hasError('email')?'has-error':'' }}">
                    <label for="description">Description</label>
                    <input id="description" name="description" type="text" class="form-control"
                           value="{{ validationResponse.getStringValue('description') }}">
                </div>
                <div class="checkbox">
                    <label for="enabled">
                        <input id="enabled" name="enabled" type="checkbox"
                                {{ validationResponse.getBooleanValue('enabled')?'checked':''}}>Enabled
                    </label>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>

    </div>

{% endblock %}




