{% extends '@XengCmsAdmin/admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}
{% set page_title = 'xeng.admin.page.title.role.default' | trans %}

{% block content %}

    {{ dump(modules) }}
    <div class="box box-primary">
        <div class="box-header with-border">
            {{ page_title }}
            <a href="{{ path('xeng.admin.role.create') }}"
               class="btn btn-success btn-sm pull-right">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Add Role
            </a>
        </div>
        <div class="box-body">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success" role="alert">{{ flash_message }}</div>
            {% endfor %}

            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Enabled</th>
                    <th>Actions</th>
                </tr>
                {% for role in pager.results %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.name }}</td>
                    <td>{{ role.description }}</td>
                    <td>{{ role.enabled?'Yes':'No'}}</td>
                    <td>
                        <a href="{{ path('xeng.admin.role.edit',{'roleId': role.id}) }}"
                           class="btn btn-primary btn-sm">
                            <i class="fa fa-edit"></i>&nbsp;&nbsp;Edit
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="box-footer text-center">
            {% set noprev = pager.currentPage < 2 %}
            {% set nonext = pager.currentPage > pager.totalPages - 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li {% if noprev %}class="disabled"{% endif %}>
                        <a {% if not noprev %}href="{{ path('xeng.admin.roles') }}/{{ pager.currentPage - 1 }}"{% endif %}
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for i in range(1, pager.totalPages) %}
                        <li {% if i == pager.currentPage %}class="active"{% endif %}>
                            <a href="{{ path('xeng.admin.roles') }}/{{ i }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li {% if nonext %}class="disabled"{% endif %}>
                        <a {% if not nonext %}href="{{ path('xeng.admin.roles') }}/{{ pager.currentPage + 1 }}"{% endif %}
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

{% endblock %}




